<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hardwarenews">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Komentar4Activity"></activity>
        <activity android:name=".activity.Komentar2Activity" />
        <activity android:name=".activity.Komentar3Activity" />
        <activity android:name=".activity.KomentarActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CorsairCarbideActivity" />
        <activity android:name=".activity.PsuNewsActivity" />
        <activity android:name=".activity.RadeonActivity" />
        <activity android:name=".activity.GTXActivity" />
        <activity android:name=".activity.WDHddExActivity" />
        <activity android:name=".activity.SamsungSSDActivity" />
        <activity android:name=".activity.HyperXActivity" />
        <activity android:name=".activity.CorsairActivity" />
        <activity android:name=".activity.Ryzen7Activity" />
        <activity android:name=".activity.I7Activity" />
        <activity android:name=".activity.CaseActivity" />
        <activity android:name=".activity.PsuActivity" />
        <activity android:name=".activity.HddActivity" />
        <activity android:name=".activity.GpuActivity" />
        <activity android:name=".activity.RamActivity" />
        <activity android:name=".activity.CpuActivity" />
        <activity android:name=".AnyHardwareActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>